
<form (ngSubmit)="onSubmit()" [formGroup]="threadCreateForm">
    <div class="form-group">
        <label for="threadTitle">Title</label>
        <input class="form-control" id="threadTitle" type="text" placeholder="Title" formControlName="title">
    </div>
    <div class="form-group">
        <label for="threadMessage">Message</label>
        <textarea class="form-control" id="threadMessage" placeholder="Message" formControlName="message" rows="15"></textarea>
    </div>
    <button class="btn btn-success" type="submit" [disabled]="!threadCreateForm.valid">Create</button>
    <a class="btn btn-secondary" [routerLink]="['/board']" queryParamsHandling="preserve" role="button">Cancel</a>
</form>
