<article class="post d-flex flex-row my-3">
    <div class="post-sidebar">
        <cmm-user-label [user]="post.creator" [date]="post.modified"></cmm-user-label>
    </div>
    <div class="d-flex flex-column w-100">
        <h4 *ngIf="title" class="px-3 mb-2">{{ title }}</h4>
        <div class="post-content px-3 pb-3">
            {{ post.text }}
        </div>
        <div class="post-controls px-3 py-1 d-flex flex-row">
            <div class="align-self-start" *ngIf="post.numberOfChildren > 0 && openable">
                <button class="btn btn-outline-primary icon-button toggle-button" [class.open]="post.showChildren" (click)="toggleAnswers()">
                    <i class="material-icons">expand_more</i>
                    <span>{{ post.numberOfChildren }} Replies</span>
                </button>
            </div>
            <div class="ml-auto">

                <button class="btn btn-outline-secondary text-muted icon-button" (click)="reply()">
                    <i class="material-icons">reply</i>
                    <span>Reply</span>
                </button>
                <cmm-vote-handle [post]="post"></cmm-vote-handle>
            </div>
        </div>
        <div class="p-3" *ngIf="post.showReplyForm">
            <form (ngSubmit)="submitReply()" [formGroup]="replyForm">
                <div class="form-group">
                    <label class="sr-only" for="replyToPostInput{{ post.id }}">Reply</label>
                    <textarea class="form-control" id="replyToPostInput{{ post.id }}" rows="15" formControlName="message" placeholder="Your reply here..."></textarea>
                </div>
                <button class="btn btn-success" type="submit" [disabled]="!replyForm.valid">Send Reply</button>
                <button class="btn btn-secondary" type="button" (click)="cancelReply()">Cancel</button>
            </form>
        </div>
    </div>
</article>
