<div class="vote-handle">
    <button type="button"
            class="btn btn-outline-secondary icon-button no-border-button text-muted"
            (click)="voteUp()">
                <i class="material-icons"
                   [class.text-success]="voteData.own === 1">thumb_up</i>
                <span>{{ voteData.plus }}</span>
    </button>
    <button type="button"
            class="btn btn-outline-secondary icon-button no-border-button text-muted"
            (click)="voteDown()">
                <i class="material-icons"
                   [class.text-danger]="voteData.own === -1">thumb_down</i>
                <span>{{ voteData.minus }}</span>
    </button>
</div>
