.thread-list {
    td {
        &.votes {
            width: 2.5rem;
            > div {
                .material-icons {
                    margin-top: -0.25rem;
                    margin-bottom: -0.25rem;
                }
                > * {
                    vertical-align: middle;
                }
            }
        }
        &.stats {
            width: 6rem;
        }
    }
}
