<a class="btn btn-success" [routerLink]="['/board', 'new']" queryParamsHandling="preserve">New Thread</a>
<hr>

<table class="table thread-list">
    <colgroup>
        <col width="*">
        <col width="150px">
        <col width="150px">
    </colgroup>
    <thead>
        <tr>
            <th>Title</th>
            <th>Created by</th>
            <th>Created at</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let thread of threadList?.results">
            <td><a [routerLink]="['/board', thread.id]" [queryParams]="{ url: board.url }">{{ thread.title }}</a></td>
            <td>{{ thread.creator.name }}</td>
            <td>{{ thread.created | date: 'short' }}</td>
        </tr>
    </tbody>
</table>
<cmm-pagination *ngIf="threadList" [partialList]="threadList"
                pageQueryParamName="page">
</cmm-pagination>
