
<div class="main-container d-flex flex-column justify-content-between align-items-stretch" style="min-height:100%">
    <div [class.bg-white]="!fullHeader" [class.bg-header]="fullHeader">
        <header>
            <cmm-header *ngIf="fullHeader"></cmm-header>
            <cmm-header-light *ngIf="!fullHeader"></cmm-header-light>
        </header>
    </div>
    <div class="bg-white" style="flex: 1">
        <main>
            <router-outlet></router-outlet>
        </main>
    </div>
    <div class="bg-dark">
        <footer >
            Footer
        </footer>
    </div>
</div>
