<div class="d-flex flex-row align-items-center">
    <cmm-select-query-param *ngIf="postList?.count > 0"
                            class="ml-auto"
                            [selected]="ordering"
                            [options]="orderOptions"
                            [extras]="{ page: 1 }"
                            paramName="ordering"
                            label="Ordering">
    </cmm-select-query-param>
</div>
<div *ngIf="postList?.numberOfPages > 1">
    <hr>
    <cmm-pagination [partialList]="postList"
                    pageQueryParamName="page">
    </cmm-pagination>
</div>
<hr>
<div *ngFor="let post of postList?.results">
    <cmm-post [post]="post"
              (remove)="postRemoved($event)">
    </cmm-post>
</div>
<div *ngIf="postList?.numberOfPages > 1">
    <cmm-pagination [partialList]="postList"
                    pageQueryParamName="page">
    </cmm-pagination>
</div>
