/* You can add global styles to this file, and also import other style files */

@import '~https://fonts.googleapis.com/icon?family=Material+Icons';

html, body {
    background-color: #f7f7f7;
    height: 100%;
    font-size: 12px;
}

.w100 {
    width: 100%;
}
