/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.light-weight {
    font-weight: 300;
}

.w100 {
    width: 100%;
}

.material-icons {
    font-size: 1.5rem;
    &.small {
        font-size: 1rem;
    }
    &.tiny {
        font-size: 0.6rem;
    }
}

.no-border-button {
    border: none;
    cursor: pointer;
}

.icon-button {
    padding: 0.25rem 0.5rem 0 0.5rem;
}

.icon-button-left {
    padding-left: 2.5rem;
    position: relative;
    .material-icons {
        position: absolute;
        left: 0.5rem;
        top: 50%;
        margin-top: -0.8rem;
    }
}

.icon-button-right {
    padding-right: 2rem;
    position: relative;
    .material-icons {
        position: absolute;
        right: 0.5rem;
        top: 50%;
        margin-top: -0.8rem;
    }
}



.toggle-button {
    .material-icons {
        transition: transform 0.3s ease-in-out;
        -webkit-transition: -webkit-transform 0.3s ease-in-out;
    }
    &.open {
        .material-icons {
            transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
        }
    }
}

.inline-form-group {
    label {
        display: inline;
    }
}

.highlight-corner {
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    top: 0;
    border: 0.75rem solid #5cb85c;
    border-right-color: transparent;
    border-bottom-color: transparent;
}

.btn-link {
    cursor: pointer;
    padding: 0;
    outline: none;
    text-align: left;
    white-space: normal;
    &:focus {
        box-shadow: none;
    }
    &:focus, &:hover {
        span {
            text-decoration: none;
        }
    }
}

.btn-xlg {
    padding: 1.5rem 2rem;
    font-size: 2rem;
    border-radius: .5rem;
    &.btn-link {
        padding: 1rem 0;
    }
    .material-icons {
        font-size: 2rem;
    }
    &.icon-button-left {
        padding-left: 3rem;
    }
}


.text-light {
    color: #ddd;
}

.narrow {
    max-width: 500px;
}

.break-all {
    word-break: break-all;
}

.no-wrap {
    white-space: nowrap;
}

.bg-white {
    background-color: white;
}

.bg-light {
    background-color: #efefef;
}

.bg-dark {
    background-color: #525252;
    color: white;
}


label {
    color: #636c72;
}
